In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect("petsdb-Copy1")

In [9]:
# function to check connection 
def is_opened(connection):
    try:
        connect.execute("SELECT * FROM persons LIMIT 1")
        return 'Yes'
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return 'No'

In [10]:
print(is_opened(connection))         # checking to see if connection worked

Yes

In [12]:
connect.close()                     # closing connection

In [13]:
print(is_opened(connect))           # checking if connection works after closing

Connection closed Cannot operate on a closed database.
No

In [14]:
connection = sqlite3.connect('petsdb-Copy1')     # setting connection for the petsdb database

In [15]:
container = connection.cursor()                   # connecting to the database

In [17]:
# using for statement to get the number of people per different age groups from the database

for ppl, age in container.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people at age {}".format(ppl, age))

There are 2 people at age 5
There are 1 people at age 6
There are 1 people at age 7
There are 3 people at age 8
There are 1 people at age 9
There are 2 people at age 11
There are 3 people at age 12
There are 1 people at age 13
There are 4 people at age 14
There are 2 people at age 16
There are 2 people at age 17
There are 3 people at age 18
There are 1 people at age 19
There are 3 people at age 22
There are 2 people at age 23
There are 3 people at age 24
There are 2 people at age 25
There are 1 people at age 27
There are 1 people at age 30
There are 3 people at age 31
There are 1 people at age 32
There are 1 people at age 33
There are 2 people at age 34
There are 3 people at age 35
There are 3 people at age 36
There are 1 people at age 37
There are 2 people at age 39
There are 1 people at age 40
There are 1 people at age 42
There are 2 people at age 44
There are 2 people at age 48
There are 1 people at age 49
There are 1 people at age 50
There are 2 people at age 51
There are 2 people at age 52
There are 2 people at age 53
There are 2 people at age 54
There are 1 people at age 58
There are 1 people at age 59
There are 1 people at age 60
There are 1 people at age 61
There are 2 people at age 62
There are 1 people at age 63
There are 2 people at age 65
There are 2 people at age 66
There are 1 people at age 67
There are 3 people at age 68
There are 1 people at age 69
There are 1 people at age 70
There are 4 people at age 71
There are 1 people at age 72
There are 5 people at age 73
There are 3 people at age 74

In [19]:
# using for statement to get the age group with the highest number of people.

for ppl, age in container.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Maximum number of people is {} and they came from the {} age group".format(ppl, age))
    break

Maximum number of people is 5 and they came from the 73 age group

In [20]:
# number of people who do not have a last name(null)

no_last_name = container.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in no_last_name:
    print(row)

(60,)

In [21]:
# using for statement to pull total count of people with more than one pet out of database.

more_pets = container.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in more_pets:
    print("{} People have more than one pet".format(row[0]))

43 People has more than one pets

In [22]:
# pulling total number of pets that recieved treatment.

treatment = container.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in treatment:
    print(row)

(36,)

In [23]:
# pulling total number of pets from the city east port.

total_east_port = container.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in total_east_port:
    print(row)

(49,)

In [24]:
# pulling total number of pets from east port and recieved treatment.

treatment_east_port = container.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in treatment_east_port:
    print(row)

(11,)